html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

div {
text-align: center;
height: auto;
}

img  {
    max-width: 200px;
    max-height: 200px;
}

.buttons {
    display: done;
}

.buttons.active {
    display: flex;
    justify-content: space-around;
}

.score-keeper {
    display: none;
    justify-content: space-around;
}

.score-keeper.active {
    display: flex;
    justify-content: space-around;
}