/* body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
} */

.buttons {
    display: flex;
    justify-content: space-around;
}

img  {
    max-width: 200px;
    max-height: 200px;
}