* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    background-color: #23867f;
}

div {
text-align: center;
height: auto;
}

img  {
    max-width: 200px;
    max-height: 200px;
}

.startContainer.active{
    display: none;
}

.title {
    display: none;
}

.title.active {
    display: block;
}

.buttons {
    display: none;
}

.buttons.active {
    display: flex;
    justify-content: space-around;
}

.score-keeper {
    display: none;
}

.score-keeper.active {
    display: flex;
    justify-content: space-around;
}

.selection {
    display: none;
}

.selection.active {
    display: flex;
    justify-content: space-around;
}

.startBtn {
    border-radius: 8px;
    border: 2px solid black;
    padding: 8px 10px;
    font-style: italic;
    font-weight: bold;
    margin: 8px auto;
}